# `ls` with color and icons
alias ls="colorls --gs --sd"
alias lt="colorls --gs --sd --tree"
alias l="colorls -l --gs --sd"
alias la="colorls -lA --gs --sd"
alias lsd="colorls -ld --gs --sd"
alias lsf="colorls -lf --gs --sd"
