[alias]
	aliases = config --get-regexp alias
	amend = commit --amend --reuse-message=HEAD
	branches = branch -a
	c = clone --recursive
	contributors = shortlog --summary --numbered
	l = log --date=relative --graph --pretty=one
	long = log --date=human --graph --pretty=two
	p = pull --recurse-submodules
	remotes = remote -v
	s = status -s
	tags = tag -l
	whoami = config user.email
[apply]
	whitespace = fix
[core]
	editor = $EDITOR
	excludesFile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	trustctime = false
	untrackedCache = true
[color]
	ui = true
[color "branch"]
	current = cyan reverse
	local = cyan
	remote = 216
[color "diff"]
	meta = 11 bold
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = 216 bold
	new = 114 bold
	plain = 240
	whitespace = 216 reverse
[color "diff-highlight"]
	oldNormal = 216 bold
	oldHighlight = 216 bold 52
	newNormal = 114 bold
	newHighlight = 114 bold 22
[color "status"]
	header = 240
	branch = cyan
	added = 114
	changed = 216
	untracked = blue
[commit]
	gpgSign = true
[diff]
	algorithm = patience
	renames = copies
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[format]
	pretty = one
[help]
	autoCorrect = 1
[interactive]
	diffFilter = diff-so-fancy --patch
[merge]
	log = true
	tool = nvimmerge
[mergetool]
	keepBackup = false
[mergetool "nvimmerge"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c 'winc J | winc ='
	trustExitCode = true
[pretty]
	one = %C(240)%h %C(auto)%s %C(245)%an%C(240), %ad%C(auto)%d
	two = %C(146)%h %C(140)%ad %C(240)(%ar)%C(auto)%d%n • %s %C(245)%an
[push]
	followTags = true
[url "git@github.com:"]
	insteadOf = "g:"
	pushInsteadOf = "g:"
	; insteadOf = "https://github.com/"
[user]
	name = exshak
	email = sbijabhai@gmail.com
