[alias]
	aliases = config --get-regexp alias
	amend = commit --amend --reuse-message=HEAD
	branches = branch -a
	c = clone --recursive
	l = log --oneline --graph -n 20
	p = pull --recurse-submodules
	remotes = remote -v
	s = status -s
	tags = tag -l
	whoami = config user.email
[apply]
	whitespace = fix
[core]
	excludesFile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	gpgsign = true
[diff]
	renames = copies
[help]
	autocorrect = 1
[merge]
	log = true
[push]
	followTags = true
[user]
	name = exshak
	email = sbijabhai@gmail.com
